* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 50%;
    margin: auto;
    padding: 10px 10px 80px;
    background-color: rgb(6, 117, 111);
    border: 1px solid #ddd;
    box-shadow: 0 0 4px lightgreen;
    color: white;
}

#main-header {
    width: 600px;
    margin: auto;
}
#main-header img {
    width: 600px;
}
#main-content_form form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
input, select > option {
    padding: 3px;
}